.bg-naranjafooter {
    background-color: $color-footer;
  }
  
  .c-blancofooter {
    color: $color-textfooter;
  }
  
  .bg-naranja {
    background-color: $color-nav;
  }
  .c-blanco {
    color: $color-textnav;
  }
  


